
.body {
  background-color: bisque;

}

.header {
  display: flex;
  width: 1100;
height: 293px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

} 

.header-menu {
  


}
.header-menu-list {
  /*height: ;*/
  list-style-type: circle;
  list-style-position: inside;
  display: flex;
  gap: 20px;
  /*justify-content: space-between;не работает из-за gap*/
  
  
  

  

}
.header-menu-link {

  /*margin-right: 15px;*/

}

.active-link {
  text-decoration: none;
  list-style: none;
  margin-left: 15px;
  

}



.logo-black {
 /*display: center;*/
 width: 148px;
 height: 105px;
 flex-basis: center;
 flex: 0 1 auto; /* Не сжимается, не растёт, размер по контенту */


}

.header-address {
  height: 98px;
  width: 240px;


}
.header-address-list {
  display: flex;
  flex-direction: column;
font-family: ;
 }
 .header-address-link {

 }




/* место для вашего кода */